%br
.container
  .row.flex-items-md-center
    .col-md-8
      %h3
        Start by creating the file in Qualtrics. Then drop it here and we'll
        transmogrify it into the database. Magic.

      = form_tag('/import/import', multipart: true) do
        .form-group
          = file_field_tag 'file', class: 'form-control-file'
        = submit_tag 'SUBMIT', class: 'btn btn-primary'
%br
.container
  .row
    .col-md-8
      %p
        This is how the tables should look in the excel file and some dummy
        data. Each sheet should be labeled by the heading.
      %p Column order and sheet order doesn't matter.

  .row
    .col-md-8
      .card
        .card-block
          %h4.card-title Vision
          %table.table.table-bordered
            %thead
              %tr
                %th blurb
            %tbody
              %tr
                %td End Poverty
  .row
    .col-md-8
      .card
        .card-block
          %h4.card-title Long
          %table.table.table-bordered
            %thead
              %tr
                %th title
                %th what
                %th when
                %th who
                %th vision
            %tbody
              %tr
                %td Fix Education
                %td Duis aute irure dolor in reprehenderit in voluptate velit esse
                %td Tomorrow
                %td Doloremque Laudantium
                %td End Poverty
              %tr
                %td Lower Homelessness
                %td Excepteur sint occaecat cupidatat non proiden
                %td Next Week
                %td Et Harum Quidem
                %td End Poverty

  .row
    .col-md-8
      .card
        .card-block
          %h4.card-title Medium
          %table.table.table-bordered
            %thead
              %tr
                %th title
                %th what
                %th when
                %th who
                %th Higher_goal_title
            %tbody
              %tr
                %td Raise Teacher Salary
                %td Enim ad minima veniam, quis nostrum exercitationem
                %td Today
                %td Natus Erranium
                %td Fix Education

  .row
    .col-md-8
      .card
        .card-block
          %h4.card-title Short
          %table.table.table-bordered
            %thead
              %tr
                %th title
                %th what
                %th when
                %th who
                %th Higher_goal_title
            %tbody
              %tr
                %td Address Mental Illness
                %td Excepturi sint occaecati cupiditate non provident
                %td 3 - 5 years
                %td Similique Sunt
                %td Lower Homelessness

.container
  .row.flex-items-md-center
    .col-md-8
      - if Vision.exists?
        button_to tree view

        button_to delete tree

//.container
//  Example row of columns
//  .row
//    .col-md-4
//      %h2 Heading
//      %p
//        :plain
//          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
//          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
//          Donec sed odio dui.
//      %p
//        %a.btn.btn-secondary{ href:  '#', role:  'button' } View details »
//    .col-md-4
//      %h2 Heading
//      %p
//        :plain
//          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
//          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
//          Donec sed odio dui.
//      %p
//        %a.btn.btn-secondary{ href:  '#', role:  'button' } View details »
//    .col-md-4
//      %h2 Heading
//      %p
//        :plain
//          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
//          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
//          massa justo sit amet risus.
//      %p
//        %a.btn.btn-secondary{ href:  '#', role:  'button' } View details »
